body {
    background-color: beige;
}
h1 {
    color: white;
}
p {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}


.intro{
    width:100%;
    color: white;
    position: absolute;

}
.testbox {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 70%;
    left: 20%;
}

.project1box:hover{
    border: 1px solid white;
    background: cadetblue;
    transition: 1s;
}

.githubbox {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 7% 22%;
    font-size: 25px;
    background: transparent;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    transform: translate(0%, 20%);
}

.githubbox:hover{
    border: 1px solid white;
    background: transparent;
    transition: 1s;
}

.aboutmebox {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 7% 22%;
    font-size: 25px;
    background: transparent;
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    transform: translate(0%, 20%);
}

.aboutmebox:hover{
    border: 1px solid white;
    background: transparent;
    transition: 1s;
}

.projbox {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 12% 47%;
    font-size: 25px;
    background: transparent;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    transform: translate(-50%, -6%);
}

.projbox:hover{
    border: 1px solid white;
    background: transparent;
    transition: 1s;
}



#container{
    width: 100%;
    min-width: 200px;
    max-width: 700px;
    height:100%;
    margin: 0 auto;
    position: relative;
    top: 0%;
}